@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");
@import url("styles.less");
/* https://www.realtimecolors.com/?colors=010403-ffffff-247b7b-c4d9ee-34b273&fonts=Poppins-Poppins */

/* TODO: add dark mode */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: @base-font-family;
  font-size: @base-body-font-size;
  height: 100vh;
  color: @base-color-black;
  font-weight: @base-regular-font-weight;
  letter-spacing: 0.025rem;
  background-color: @base-background-color;
  overflow-x: hidden;
}

.color-effect {
  background: @base-text-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-effect {
  font-style: italic;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: @base-color-black;
  color: transparent;
}

/* BUTTONS */
li,
a,
button {
  font-family: @base-font-family;
  font-weight: @base-medium-font-weight;
  font-size: @base-button-large-font-size;
  color: @base-color-black;
  text-decoration: none;
  list-style-type: none;
}

button {
  margin-left: 1.25rem;
  padding: 0.6rem 1.6rem;
  background-color: @base-color-primary;
  border: none;
  border-radius: 3.1rem;
  cursor: pointer;
  color: @base-color-white;
}

.primary-button {
  transition: @base-transition;

  &:hover {
    transform: translate(0, -0.2rem);
    box-shadow: 0 0.6rem 3.1rem -0.6rem @base-color-primary;
  }
}

.secondary-button {
  background-color: @base-color-secondary;
  cursor: pointer;
  border: none;
  border-radius: 3.1rem;
  padding: 0.6rem 1.25rem;
  transition: @base-transition;

  &:hover {
    transform: translate(0, -0.2rem);
    transition: transform ease 0.2s;
  }
}

.secondary-button-2 {
  cursor: pointer;
  border: none;
  padding: 0.6rem;
  transition: transform ease 0.2s;

  &.active {
    color: @base-color-primary;
    font-weight: @base-bold-font-weight;
  }
}

/* HEADER */
header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 1.75rem 12%;
  transition: @base-transition;
  margin-bottom: 40px;

  .logo {
    font-size: @base-h6-font-size;
    font-weight: @base-heavy-font-weight;
  }

  .nav-links {
    display: flex;

    a {
      margin: 0rem 1.9rem;
      transition: @base-transition;

      &:hover {
        color: @base-color-primary;
      }
    }
  }

  .main-buttons {
    display: flex;
    align-items: center;

    a {
      margin-right: 1.6rem;
      margin-left: 0.625rem;
      transition: @base-transition;

      &:hover {
        color: @base-color-primary;
      }
    }

    .user {
      display: flex;
      align-items: center;

      i {
        color: @base-color-primary;
        font-size: 1.2rem;
        margin-right: 0.6rem;
      }
    }
  }

  #menu-icon {
    font-size: @base-h6-font-size;
    cursor: pointer;
    z-index: 10001;
    display: none;
  }
}

/* TODO: work on this: https://www.youtube.com/watch?v=H8ThscWsQV8 */

/* MAIN */
main {
  width: 100%;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1280px) {
  header {
    padding: 0.9rem 2%;
    transition: @base-transition;
  }

  .nav-links a {
    padding: 0.3rem 0;
    margin: 0 1.25rem;
  }
}

@media screen and (max-width: 1090px) {
  header #menu-icon {
    display: block;
  }

  header .nav-links {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 17rem;
    height: 29vh;
    background: @base-color-primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0.625rem;
    transition: @base-transition;

    a {
      display: block;
      margin: 0.75rem 0;
      padding: 0 1.6rem;
      transition: @base-transition;
      color: @base-color-white;

      &:hover {
        color: @base-color-accent;
        transform: translateY(0.3rem);
      }

      &.active {
        color: @base-color-white;
      }
    }

    &.open {
      right: 2%;
    }
  }
}
