<header>
  <a href="/" class="color-effect logo">gibjohn</a>
  <ul class="nav-links">
    <li>
      <a href="{{url_for('index')}}"
        class="secondary-button 2{% if active_page == url_for('index') %} active{% endif %}">Home</a>
    </li>
    <li>
      <a href="{{url_for('courses')}}"
        class="secondary-button 2{% if active_page == '/courses' %} active{% endif %}">Courses</a>
    </li>
    <li>
      <a href="{{url_for('tutors')}}"
        class="secondary-button 2{% if active_page == '/tutors' %} active{% endif %}">Tutors</a>
    </li>
  </ul>
  <div class="main-buttons">
    {% if user.is_authenticated %}
    <div class="profile">
      <i class="fa-regular fa-user"></i>
      <a href="#" class="user logged-in">{{user.username}}</a>
    </div>
    {% else %}
    <a class="user{% if active_page == '/login' %} active{% endif %}" href="{{url_for('login')}}"><i
        class="fa-solid fa-user"></i>Sign In</a>
    <a {% if active_page=='/register' %}class="active" {% endif %} href="{{url_for('register')}}">Register</a>
    {% endif %}
    <i class="fa-solid fa-bars" id="menu-icon"></i>
  </div>
</header>

<script>
  let menu = document.querySelector("#menu-icon");
  let dropDownMenu = document.querySelector(".nav-links");

  menu.onclick = () => {
    dropDownMenu.classList.toggle("open");
    const isOpen = dropDownMenu.classList.contains("open");

    menu.classList = isOpen ? "fa-solid fa-xmark" : "fa-solid fa-bars";
  };
</script>