<div class="navbar">
    <div class="static-content">
        <div class="logo">
            <a href="/", aria-label="GibJohn Tutoring", title="GibJohn Tutoring" class style="color: var(--base-color-primary); width: 120px; height:24px;text-decoration:none;font-weight:700;">gibjohn</a>
        </div>
        <div class="header-buttons">
            <!-- TODO: Add if statement for: if not logged in, show login etc, ref: https://www.superprof.co.uk/le/2988/4108/?gad_source=1 -->
        </div>
    </div>
</div>