<header>
  <a href="/" class="color-effect logo">gibjohn</a>
  <ul class="nav-links">
    <li>
      <a
        href="{{url_for('index')}}"
        class="secondary-button-2{% if active_page == url_for('index') %} active{% endif %}"
        >Home</a
      >
    </li>
    <li>
      <a
        href="{{url_for('courses')}}"
        class="secondary-button-2{% if active_page == '/courses' %} active{% endif %}"
        >Courses</a
      >
    </li>
    <li>
      <a
        href="{{url_for('tutors')}}"
        class="secondary-button-2{% if active_page == '/tutors' %} active{% endif %}"
        >Tutors</a
      >
    </li>
  </ul>
  <div class="main-buttons">
    <a {% if active_page == '/login' %}class="active"{% endif %} href="{{url_for('login')}}" class="user"
      ><i class="fa-solid fa-user"></i>Sign In</a
    >
    <a {% if active_page == '/register' %}class="active"{% endif %} href="{{url_for('register')}}">Register</a>
    <i class="fa-solid fa-bars" id="menu-icon"></i>
  </div>
</header>

<script>
  let menu = document.querySelector("#menu-icon");
  let dropDownMenu = document.querySelector(".nav-links");

  menu.onclick = () => {
    dropDownMenu.classList.toggle("open");
    const isOpen = dropDownMenu.classList.contains("open");

    menu.classList = isOpen ? "fa-solid fa-xmark" : "fa-solid fa-bars";
  };
</script>
