{% extends 'base.html' %} {% block title_extension %} - Home{% endblock %} {% block preface_body %}
{% include 'header.html' %}
{% endblock %}{%
block content %}
<div class="primary-content">
    <div class="main-search">
        <div class="main-search-container">
            <div class="main-search-tool">
                <h2>Find the<br>perfect tutor!</h2>
                {% if courses %}
                {% if courses|length >= 3 %}
                <div class="mobile-style-container">
                    <div class="search">
                        <form action="" method="post" class="course-search-box">
                            <div class="form-container">
                                {{form.csrf_token}}
                                <div class="search-course">
                                    <i class="fa-solid fa-book-open"></i>
                                    {{ form.course(placeholder='Try "' ~ course_to_try ~ '"') }}
                                    <div class="clear-button">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </div>
                                    <div class="course-choices-dropdown">
                                        {% for course, icon, icon_type in courses %}
                                        <div>{{course}}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {{form.submit(class="primary-button")}}
                            </div>
                        </form>
                    </div>
                    <div class="search-quick">
                        <ul>
                            {% for course, icon, icon_type in courses %}
                            <li data-search="{{course}}">
                                <i class="fa-{{icon_type}} fa-{{icon}}"></i>
                                <span class="name">{{course}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <h4>No courses found.</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    // Clear text box with clear text button
    $(document).ready(function () {
        $('.clear-button').on('click', function () {
            $('#course').val('')
        });


        // Show the first 10 courses when the text input box is active
        $('#course').focus(function () {
            var courses = $(this).parent().children('.course-choices-dropdown').children('div');
            for (var i = 0; i < 10; i++) {
                courses.eq(i).show();
            }
        });

        // Show the dropdown when the text input box is active or cleared
        $('#course').on('focus keyup', function () {
            var typedLetters = this.value;
            var courses = $(this).parent().children('.course-choices-dropdown').children('div');
            var dropdown = $(this).parent().children('.course-choices-dropdown');

            // If the input field is cleared, show all options
            if (typedLetters === '') {
                courses.each(function () {
                    $(this).show();
                    var instance = new Mark(this);
                    instance.unmark();
                });
                dropdown.show();
            }
        });

        // Search and highlight the typed letters
        $('#course').on('input', function () {
            var typedLetters = this.value;
            var courses = $(this).parent().children('.course-choices-dropdown').children('div');
            var dropdown = $(this).parent().children('.course-choices-dropdown');

            courses.each(function () {
                var course = $(this).text();
                if (course.toLowerCase().startsWith(typedLetters.toLowerCase())) {
                    $(this).show();
                    var instance = new Mark(this);
                    instance.unmark();
                    instance.mark(typedLetters, { element: 'span', className: 'highlight' });
                } else {
                    $(this).hide();
                    var instance = new Mark(this);
                    instance.unmark();
                }
            });

            // If there are no visible options, hide the dropdown
            if (!dropdown.children('div:visible').length) {
                dropdown.hide();
            }
        });

        // Click on the suggested items in the dropdown
        $('.course-choices-dropdown').on('click', 'div', function () {
            console.log("2")
            var clickedDivText = $(this).text();
            $('#course').val(clickedDivText);
            $(this).parent().hide();
        });
    });
</script>
{% endblock %}