{% extends 'base.html' %} {% block title_extension %} - Home{% endblock %} {%
block preface_body %} {% include 'header.html' %} {% endblock %}{% block content
%}
<div class="primary-content"></div>

<script>
  $(document).ready(function () {
    var $courseInput = $("#course"),
      $clearButton = $(".clear-button i"),
      $courseChoicesDropdown = $courseInput
        .parent()
        .children(".course-choices-dropdown"),
      $courses = $courseChoicesDropdown.children("div"),
      $quickSearchCourses = $(".search-quick ul li");

    console.log("Document ready");

    $clearButton.on("click", function () {
      console.log("Clear button clicked");
      $courseInput.val("");
    });

    $courseInput.on({
      focus: function () {
        console.log("Course input focused");
        $clearButton.css({ opacity: 1, "pointer-events": "all" });
        $courseChoicesDropdown.css({ display: "flex" });
        showFirstCourses();
      },
      blur: function () {
        console.log("Course input blurred");
        setTimeout(function () {
          $clearButton.css({ opacity: 0, "pointer-events": "none" });
          $courseChoicesDropdown.css({ display: "none" });
        }, 100);
      },
      keyup: function () {
        console.log("Key pressed in course input");
        var typedLetters = this.value;
        if (typedLetters === "") {
          showAllCourses();
        }
      },
      input: function () {
        console.log("Input changed in course input");
        filterAndHighlightCourses(this.value);
      },
    });

    $courses.on("click", function () {
      console.log("Course choice clicked");
      var courseText = $(this).text();
      $courseInput.val(courseText);
      $(this).parent().hide();
    });

    $quickSearchCourses.on("click", function () {
      console.log("Quick search choice clicked");
      var courseText = $(this).children("span").text();
      $courseInput.val(courseText);
    });

    function showFirstCourses() {
      console.log("Showing first courses");
      for (var i = 0; i < 10; i++) {
        $courses.eq(i).show();
      }
    }

    function showAllCourses() {
      console.log("Showing all courses");
      $courses.each(function () {
        $(this).show();
        var instance = new Mark(this);
        instance.unmark();
      });
      $courseChoicesDropdown.show();
    }

    function toggleCourseVisibility(shouldShow, courseElement, typedLetters) {
      if (shouldShow) {
        courseElement.show();
        var instance = new Mark(courseElement);
        instance.unmark();
        instance.mark(typedLetters, {
          element: "span",
          className: "highlight",
        });
      } else {
        courseElement.hide();
        var instance = new Mark(courseElement);
        instance.unmark();
      }
    }

    function filterAndHighlightCourses(typedLetters) {
      console.log("Filtering and highlighting courses");
      $courses.each(function () {
        var course = $(this).text();
        toggleCourseVisibility(
          course.toLowerCase().startsWith(typedLetters.toLowerCase()),
          $(this),
          typedLetters
        );
      });

      if (!$courseChoicesDropdown.children("div:visible").length) {
        console.log("Hiding dropdown as no visible options");
        $courseChoicesDropdown.hide();
      }
    }
  });
</script>
{% endblock %}
